.App {
  width: 100vw;
}

.navbar {
    text-align: center;
    margin: 0px;
}

.navbar .nav {
    display:inline-block;
    float: none;
}

.navbar {
    border-bottom: solid 5px #FF794C;
}

.App-content {
  min-height: 80vh;
  padding-right: 15vw;
  padding-left: 15vw;
  margin: 0px;
}

span {
  color: #FF794C;
}


